<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- بلاک کردن درخواست‌های مخرب -->
        <rule name="Block malicious requests" stopProcessing="true">
          <match url="^(wp-admin|wp-login|wp-content|wp-includes|xmlrpc|\.env|\.git|\.aws|phpinfo|shell|webshell)" ignoreCase="true"/>
          <action type="CustomResponse" statusCode="444"/>
        </rule>
        <!-- بلاک کردن فایل‌های PHP -->
        <rule name="Block PHP files" stopProcessing="true">
          <match url="\.php$" ignoreCase="true"/>
          <action type="CustomResponse" statusCode="444"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>